@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  margin-bottom: 300px;
  background-image: url('../src/assets/background_pattern.png');
  background-repeat: repeat;
  background-size: 30%;
}

.navbar{
  cursor: pointer;
}

a{
  cursor: pointer;
}

h1,h2 h3{
  color: #00a6e2 ;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centeredBottom {
  position: absolute;
  top: 70%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

img{
  border-radius: 15px;
}

.border{
  border: 1px solid #00a6e2;
}

.navbar{
  border-bottom: 3px #00a6e2 solid;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
background: #595959;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #00a6e2 ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #00a6e2;
}